.gradle/
*.DS_Store
build/
out/
.idea/
*.iml
*.iws
*.ipr
*.jar
*.check
.project
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!test-mod/gradle/wrapper/gradle-wrapper.jar
